absl-py==2.2.1
adblock==0.6.0
adblockparser==0.7
aioconsole==0.7.1
aiohappyeyeballs==2.3.5
aiohttp==3.10.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.4.0
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
asyncio==3.4.3
attrs==24.2.0
auto-py-to-exe==2.44.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.2.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
branca==0.8.0
bs4==0.0.2
build==1.2.2
cachetools==5.3.3
capmonster_python==3.2.0
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colored==2.2.4
coloredlogs==15.0.1
colorthief==0.2.1
Command==0.1.0
comtypes==1.3.0
confluent-kafka==2.5.0
console==0.9907
contourpy==1.3.1
cookiecutter==2.6.0
crypto==1.4.1
cryptography==43.0.1
cssselect==1.2.0
cursor==1.3.5
cx_Freeze==7.2.1
cx_Logging==3.2.0
cycler==0.12.1
Cython==3.0.11
DateTime==5.5
dearpygui==2.0.0
decorator==5.1.1
defusedxml==0.7.1
dhooks==1.1.4
discord==2.3.2
discord-protos==0.0.2
discord-webhook==1.3.1
discord.py==2.4.0
discord.py-self==2.0.0
distlib==0.3.8
distro==1.9.0
docopt==0.6.2
docutils==0.21.2
dxcam==0.0.5
easygui==0.98.3
Eel==0.16.0
emoji==2.12.1
et-xmlfile==1.1.0
executing==2.2.0
ezenv==0.92
Facad1ng==0.0.18
fade==0.0.9
fake-useragent==1.4.0
fastapi==0.112.1
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==25.2.10
flet==0.25.1
flet-desktop==0.25.1
folium==0.19.0
fonttools==4.57.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gast==0.6.0
geocoder==1.38.1
getmac==0.9.5
gevent==24.2.1
gevent-websocket==0.10.1
Ghost.py==0.2.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
google-re2==1.1.20240702
googleapis-common-protos==1.66.0
greenlet==3.0.3
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
httpagentparser==1.9.5
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.7
imageio==2.35.1
importlib_metadata==8.3.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.3
jinxed==1.3.0
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.9.2
keyboard==0.13.5
kill==2020.12.3
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.8
kramer==0.0.dev0
labelImg==1.8.6
libclang==18.1.1
lief==0.15.1
llvmlite==0.43.0
lxml==5.3.0
make-to-batch==0.2.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.0
ml_dtypes==0.5.1
mouse==0.7.1
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.2
mtranslate==1.8
multidict==6.0.5
mypy-extensions==1.0.0
Naked==0.1.32
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
networkx==3.2.1
nltk==3.9.1
Nuitka==2.4.8
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
onnx==1.15.0
onnxruntime==1.17.0
openai==1.51.0
opencage==3.0.2
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.1
Opy==1.1.28
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.0
pandocfilters==1.5.1
paramiko==3.5.0
parse==1.20.2
parso==0.8.4
pathlib==1.0.1
pefile==2023.2.7
phonenumbers==8.13.49
pickleshare==0.7.5
pillow==11.1.0
pipreqs==0.5.0
platformdirs==4.2.2
prettytable==3.12.0
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==5.27.3
psutil==5.9.8
pure_eval==0.2.3
py-cord==2.6.0
py-cpuinfo==9.0.0
py2exe==0.13.0.1
pyarmor==8.5.11
pyarmor.cli.core==6.5.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pybase64==1.4.0
pyBrowser==0.2
pybrowsers==0.6.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydivert==2.1.0
pyee==11.1.0
pyfiglet==1.0.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
Pymem==1.14.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynput==1.8.1
pyparsing==3.2.3
pyperclip==1.9.0
pypi==2.1
pypiwin32==223
pyppeteer==2.0.0
pyproject==1.3.1
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pyquery==2.0.1
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==1.0.1
pyshorteners==1.0.1
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
PySimpleGUI==5.0.7
PySocks==1.7.1
pystyle==2.9
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytweening==1.2.0
pytz==2024.1
pyuac==0.0.3
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==26.2.0
ratelim==0.1.6
redis==5.0.8
referencing==0.36.2
regex==2024.9.11
repath==0.9.0
requests==2.31.0
requests-futures==1.0.1
requests-html==0.10.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scapy==2.6.0
scikit-learn==1.5.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.15.2
shellescape==3.8.1
sherlock-project==0.15.0
shiboken6==6.8.1
simple-colors==0.1.5
simplejson==3.19.2
six==1.17.0
slowprint==0.0.1
smmap==5.0.1
sniffio==1.3.1
socks==0
sortedcontainers==2.4.0
soupsieve==2.5
spark-parser==1.8.9
stack-data==0.6.3
starlette==0.38.2
stem==1.8.2
Subdora==0.2.1
sympy==1.12
tasksio==0.0.0
tee==0.0.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
terminut==0.0.0.940
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tinycss2==1.4.0
tls-client==1.0.1
tokenizers==0.20.0
toml==0.10.2
tomli_w==1.0.0
tor==1.0.0
torch==2.1.2
torchaudio==2.2.1
torchvision==0.16.2
tornado==6.4.2
tqdm==4.66.6
traitlets==5.14.3
transformers==4.45.1
trio==0.26.2
trio-websocket==0.11.1
ttkbootstrap==1.10.1
TwoCaptcha==0.0.1
types-python-dateutil==2.9.0.20240906
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
ultralytics==8.3.102
ultralytics-thop==2.0.14
uncompyle6==3.9.2
uritemplate==4.1.1
urllib3==1.26.19
uvicorn==0.30.6
values==2020.12.3
veilcord==0.0.7.5
virtualenv==20.26.3
w3lib==2.2.1
waitress==3.0.2
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
whichcraft==0.6.1
who-is-on-my-wifi==1.3.5
wikipedia==1.4.0
winpcapy==1.0.3
WMI==1.5.1
wrapt==1.17.2
wsproto==1.2.0
xdis==6.1.1
xyzservices==2024.9.0
yarg==0.1.9
yarl==1.9.4
zipp==3.20.0
zope.event==5.0
zope.interface==6.4.post2
zstandard==0.23.0
